@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
  --cafe-au-lait: #a57548ff;
  --light-orange: #fcd7adff;
  --mellow-apricot: #f6c28bff;
  --blue-munsell: #5296a5ff;
  --sky-blue-crayola: #82ddf0ff;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.boton-agregar {
  background-color: var(--mellow-apricot);
  font-family: 'Permanent Marker', cursive;
  margin-left: 30px;
  margin-bottom: 50px;
  font-size: 20px;
}

form {
  margin-top: 50px;
}

.area-app {
  background-color: var(--light-orange);
  max-width: 70%;
}

.Editar,.boton-cancelar {
  background-color: skyblue;
  font-family: 'Permanent Marker', cursive;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
}

.boton-editar {
  background-color: skyblue;
  font-family: 'Permanent Marker', cursive;
  margin-left: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
}

.titulo {
  background-color: var(--cafe-au-lait);
  text-align: center;
  border-bottom: 40px;
  font-size: 35px;
  font-family: 'Rampart One', cursive;

}

form>input {
  background-color: lavender;
  font-family: 'Permanent Marker';
  font-size: 18px;
}

ul {
  font-size: 20px;
  font-family: 'Permanent Marker';

}