@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
  --cafe-au-lait: #a57548ff;
  --light-orange: #fcd7adff;
  --mellow-apricot: #f6c28bff;
  --blue-munsell: #5296a5ff;
  --sky-blue-crayola: #82ddf0ff;
}


.boton-agregar {
  background-color: var(--mellow-apricot);
  font-family: 'Permanent Marker', cursive;
  margin-left: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  border-radius: 10px;
}

form {
  margin-top: 50px;
  text-align: center;
}

.area-app {
  background-color: var(--light-orange);
  width: 80vh;
  max-width: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.Editar,.boton-cancelar {
  background-color: skyblue;
  font-family: 'Permanent Marker', cursive;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
  border-radius: 10px;
}

.boton-editar {
  background-color: skyblue;
  font-family: 'Permanent Marker', cursive;
  margin-left: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
  border-radius: 10px;
}

.titulo {
  background-color: var(--cafe-au-lait);
  text-align: center;
  border-bottom: 40px;
  font-size: 35px;
  font-family: 'Rampart One', cursive;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

form>input {
  background-color: lavender;
  font-family: 'Permanent Marker';
  font-size: 18px;
  width: 40vh;
  border-radius: 10px;
}

form>.input-tarea {
  width: 30%;
  text-align: start;
  height: auto;
}

ul {
  font-size: 20px;
  font-family: 'Permanent Marker';
}